In [1]:
import pandas as pd
import numpy as np

In [18]:
idf = pd.read_csv('Absenteeism_preprocessed.csv')

In [19]:
idf.columns.values

array(['Day', 'Month', 'Year', 'Date', 'Reason Group 1', 'Reason Group 2',
       'Reason Group 3', 'Reason Group 4', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours'], dtype=object)

In [20]:
col = ['Reason Group 1', 'Reason Group 2',
       'Reason Group 3', 'Reason Group 4', 'Month', 'Day', 'Year', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

df = idf[col]
df

,Reason Group 1,Reason Group 2,Reason Group 3,Reason Group 4,Month,Day,Year,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,7,2015,2015-07-07,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,14,2015,2015-07-14,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,15,2015,2015-07-15,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,16,2015,2015-07-16,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,23,2015,2015-07-23,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,23,2018,2018-05-23,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,23,2018,2018-05-23,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,24,2018,2018-05-24,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,24,2018,2018-05-24,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,31,2018,2018-05-31,291,31,40,237.656,25,0,1,1,2

In [21]:
df.columns = ['Reason Group 1', 'Reason Group 2',
       'Reason Group 3', 'Reason Group 4','Month Value','Day of the Week', 'Year', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours']

In [22]:
df

,Reason Group 1,Reason Group 2,Reason Group 3,Reason Group 4,Month Value,Day of the Week,Year,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,7,2015,2015-07-07,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,14,2015,2015-07-14,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,15,2015,2015-07-15,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,16,2015,2015-07-16,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,23,2015,2015-07-23,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,23,2018,2018-05-23,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,23,2018,2018-05-23,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,24,2018,2018-05-24,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,24,2018,2018-05-24,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,31,2018,2018-05-31,291,31,40,237.656,25,0,1,1,2

In [23]:
targets = np.where(df['Absenteeism Time in Hours'] > df['Absenteeism Time in Hours'].median(), 1, 0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [24]:
df['Excessive Absenteeism'] = targets
df

C:\Users\hridhoy.datta\AppData\Local\Temp\1\ipykernel_266852\157221967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Excessive Absenteeism'] = targets

,Reason Group 1,Reason Group 2,Reason Group 3,Reason Group 4,Month Value,Day of the Week,Year,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,7,2015,2015-07-07,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,14,2015,2015-07-14,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,15,2015,2015-07-15,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,16,2015,2015-07-16,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,23,2015,2015-07-23,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,23,2018,2018-05-23,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,23,2018,2018-05-23,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,24,2018,2018-05-24,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,24,2018,2018-05-24,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,31,2018,2018-05-31,291,31,40,237.656,25,0,1,1,2,0

In [25]:
df

,Reason Group 1,Reason Group 2,Reason Group 3,Reason Group 4,Month Value,Day of the Week,Year,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,7,2015,2015-07-07,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,14,2015,2015-07-14,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,15,2015,2015-07-15,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,16,2015,2015-07-16,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,23,2015,2015-07-23,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,23,2018,2018-05-23,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,23,2018,2018-05-23,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,24,2018,2018-05-24,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,24,2018,2018-05-24,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,31,2018,2018-05-31,291,31,40,237.656,25,0,1,1,2,0

In [30]:
df = df.drop(['Year','Date'],axis=1)

In [35]:
df.iloc[:,:-2]

,Reason Group 1,Reason Group 2,Reason Group 3,Reason Group 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,7,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,14,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,15,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,16,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,23,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,23,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,23,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,24,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,24,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,31,291,31,40,237.656,25,0,1,1

In [36]:
unscaled_inputs = df.iloc[:,:-2]

# Standardizing and Splitting

In [38]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [43]:
scaled_inputs = absenteeism_scaler.fit_transform(unscaled_inputs)

In [44]:
print(scaled_inputs)

[[-0.57735027 -0.09298136 -0.31448545 ... -0.44798003  0.88046927
   0.26848661]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.91902997
  -0.58968976]
 ...
 [ 1.73205081 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ...  2.23224237 -0.91902997
  -0.58968976]
 [-0.57735027 -0.09298136 -0.31448545 ... -0.44798003 -0.01928035
   0.26848661]]

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
train_test_split(scaled_inputs, targets)

[array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035, -0.58968976],
        [-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
          2.67996851, -0.58968976],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  0.26848661],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  0.26848661]]),
 array([[-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  0.26848661],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035,  1.12666297],
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.44798003,
          0.88046927, -0.58968976],
        ...,
        [-0.57735027, -0.09298136, -0.31448545, ...,  2.23224237,
         -0.91902997, -0.58968976],
        [-0.57735027, -0.09298136,  3.17979734, ..., -0.44798003,
          0.88046927,  0.26848661],
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.44798003,
         -0.01928035, -0.58968976]]),
 array([1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
        0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
        0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
        1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
        1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
        0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
        0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]),
 array([0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1])]

In [53]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8)

# Modeling

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [59]:
reg = LogisticRegression()

In [63]:
reg.fit(x_train,y_train)

LogisticRegression()

In [64]:
reg.score(x_train,y_train)

0.775